<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Basic Components</title>
</head>
<body>
    <div id="app">
        <app-count :source="source" :url="url"></app-count>
        <app-articale v-for="post in posts" :title="post.title" :author="post.author"  >
        </app-articale>

        <!-- Computed Properties Part 1 -->
        <p> {{calcAge()}} </p>
        <p> {{calcAge()}} </p>
        <p> {{calcAge()}} </p>
        <p> {{calcAge()}} </p>
        <p> {{calcAge()}} </p>

        <p>{{calcAgeComputed}} </p>
        <p>{{calcAgeComputed}} </p>
        <p>{{calcAgeComputed}} </p>
        <p>{{calcAgeComputed}} </p>
        <p>{{calcAgeComputed}} </p>

        <!-- - Computed Properties Part 2 -->
        <label >Search For Programming languages :</label>
        <input type="text" v-model="findlanguage">
        <ul>
            <li v-for="lang in filterLanguages">
                {{ lang }}
            </li>
        </ul>
        
        
    </div>

    <script src="js/vue.js"></script>
    <script>
        //  Local Components
        var AppCount={
            data: function(){
                return{
                    name:'Duha',
                    count: 0

                }
            },
            props:['source','url'],
            template: '<p @click="count++"> Hello {{ name }} You clicked This Paragraph {{ count }} Times  and Source is {{source}}  and URL is {{url}} </p>'
        }
    //    Global Components
        Vue.component('app-articale',{
            props:['author' , 'title'],
            template:'<p> test Articale  title is {{title }} written by {{author}}  </p>'
        })
        var vm = new Vue({
            el:' #app',
            data:{
                age : 23,
                source:'Google',
                url :'https://www.google.com',

                posts:[
                    {id: 1, author:'author-1', title:'Article Number one '},
                    {id: 2, author:'author-2', title:'Article Number Two'},
                    {id: 3, author:'author-3', title:'Article Number Three'},
                    {id: 4, author:'author-4', title:'Article Number four '},
                    {id: 5, author:'author-5', title:'Article Number Five'},
                ],

                findlanguage:'',
                languages:[
                    'HTML',
                    'Css',
                    'Sass',
                    'JavaScript', 
                    'PHP',
                    'MySQL',
                    'Python',
                    'C#',
                    'Java',
                ],
            },
            methods:{
                calcAge :function(){
                    console.log('Run');
                    return this.age * 2 ;
                }
            },
            computed:{
                calcAgeComputed :function(){
                    console.log('computed');
                    return this.age * 2 ;
                },
                filterLanguages: function(){
                    var filtering =new RegExp(this.findlanguage ,'i' );
                    return this.languages.filter(function(el){
                        return el.match(filtering);
                    })
                }

            },

            // Local Components
            components:{
                'app-count':AppCount,
            }
        }) 

    </script>
</body>
</html>